<table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
   <tbody>
      <tr>
         <td>
            <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
               <tbody>
                  <tr>
                     <td style="vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                           <tbody>
                              <tr>
                                 <td height="60"></td>
                              </tr>
                              <tr>
                                 <td style="text-align: center;">
                                    <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; display: inline-block;">
                                       <tbody>
                                          <tr style="text-align: center;">
                                             <td><a href="https://www.facebook.com/deepak.vasudevan" color="#6A78D1" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img src="https://lavanyadeepak.github.io/lavanyadeepak/assets/templates/email/socialmedia/facebook-icon-2x.png" alt="facebook" color="#6A78D1" height="24" class="sc-bRBYWo ccSRck" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a></td>
                                             <td width="5">
                                                <div></div>
                                             </td>
                                             <td><a href="https://www.twitter.com/lavanyadeepak" color="#6A78D1" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img src="https://lavanyadeepak.github.io/lavanyadeepak/assets/templates/email/socialmedia/twitter-icon-2x.png" alt="twitter" color="#6A78D1" height="24" class="sc-bRBYWo ccSRck" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a></td>
                                             <td width="5">
                                                <div></div>
                                             </td>
                                             <td><a href="https://www.linkedin.com/in/lavanyadeepak" color="#6A78D1" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img src="https://lavanyadeepak.github.io/lavanyadeepak/assets/templates/email/socialmedia/linkedin-icon-2x.png" alt="linkedin" color="#6A78D1" height="24" class="sc-bRBYWo ccSRck" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a></td>
                                             <td width="5">
                                                <div></div>
                                             </td>
                                             <td><a href="https://www.instagram.com/lavydeepk" color="#6A78D1" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img src="https://lavanyadeepak.github.io/lavanyadeepak/assets/templates/email/socialmedia/instagram-icon-2x.png" alt="instagram" color="#6A78D1" height="24" class="sc-bRBYWo ccSRck" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a></td>
                                           </tr>
                                           <tr>
                                             <td>&nbsp;</td>
                                           </tr>
                                           <tr>
                                             <td><a href="https://www.github.com/lavanyadeepak" color="#6A78D1" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img src="https://lavanyadeepak.github.io/lavanyadeepak/assets/templates/email/socialmedia/github-icon-2x.png" alt="instagram" color="#6A78D1" height="24" class="sc-bRBYWo ccSRck" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a></td>
                                             <td width="5">
                                                <div></div>
                                             </td>
                                             <td><a href="skype:live:deepak.vasudevan_1?call" color="#6A78D1" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img src="https://lavanyadeepak.github.io/lavanyadeepak/assets/templates/email/socialmedia/skype-icon-2x.png" alt="instagram" color="#6A78D1" height="24" class="sc-bRBYWo ccSRck" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a></td>
                                             <td width="5">
                                                <div></div>
                                             </td>
                                             <td><a href="https://meet164.webex.com/meet/lavanyadeepak" color="#6A78D1" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img src="https://lavanyadeepak.github.io/lavanyadeepak/assets/templates/email/socialmedia/webex-icon-2x.png" alt="instagram" color="#6A78D1" height="24" class="sc-bRBYWo ccSRck" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a></td>
                                             <td width="5">
                                                <div></div>
                                             </td>
                                             <td><a href="https://www.quora.com/profile/Deepak-Kumar-Vasudevan" color="#6A78D1" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img src="https://lavanyadeepak.github.io/lavanyadeepak/assets/templates/email/socialmedia/quora-icon-2x.png" alt="instagram" color="#6A78D1" height="24" class="sc-bRBYWo ccSRck" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a></td>
                                             <td width="5">
                                                <div></div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                     <td width="46">
                        <div></div>
                     </td>
                     <td style="padding: 0px; vertical-align: middle;">
                        <h3 color="#000000" class="sc-fBuWsC eeihxG" style="margin: 0px; font-size: 18px; color: rgb(0, 0, 0);"><span>Deepak Kumar</span><span>&nbsp;</span><span>Vasudevan</span></h3>
                        <p color="#000000" font-size="medium" class="sc-fMiknA bxZCMx" style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;"><span>Solution Architect</span></p>
                        <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; width: 100%;">
                           <tbody>
                              <tr>
                                 <td height="30"></td>
                              </tr>
                              <tr>
                                 <td color="#F2547D" direction="horizontal" height="1" class="sc-jhAzac hmXDXQ" style="width: 100%; border-bottom: 1px solid rgb(242, 84, 125); border-left: none; display: block;"></td>
                              </tr>
                              <tr>
                                 <td height="30"></td>
                              </tr>
                           </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                           <tbody>
                              <tr height="25" style="vertical-align: middle;">
                                 <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                       <tbody>
                                          <tr>
                                             <td style="vertical-align: bottom;"><span color="#F2547D" width="11" class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png" color="#F2547D" width="13" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"></span></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                                 <td style="padding: 0px; color: rgb(0, 0, 0);"><a href="tel:+919445407856" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>+919445407856</span></a> | <a href="tel:+17036728519" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>+17036728519</span></a></td>
                              </tr>
                              <tr height="25" style="vertical-align: middle;">
                                 <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                       <tbody>
                                          <tr>
                                             <td style="vertical-align: bottom;"><span color="#F2547D" width="11" class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png" color="#F2547D" width="13" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"></span></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                                 <td style="padding: 0px;"><a href="mailto:deepak.vasudevan@outlook.com" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>deepak.vasudevan@outlook.com</span></a></td>
                              </tr>
                              <tr height="25" style="vertical-align: middle;">
                                 <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                       <tbody>
                                          <tr>
                                             <td style="vertical-align: bottom;"><span color="#F2547D" width="11" class="sc-jlyJG bbyJzT" style="display: block; background-color: rgb(242, 84, 125);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png" color="#F2547D" width="13" class="sc-iRbamj blSEcj" style="display: block; background-color: rgb(242, 84, 125);"></span></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                                 <td style="padding: 0px;"><a href="https://lavanyadeepak.github.io/lavanyadeepak" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>https://lavanyadeepak.github.io/lavanyadeepak</span></a></td>
                              </tr>
                           </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                           <tbody>
                              <tr>
                                 <td height="30"></td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>